@import url('http://fonts.cdnfonts.com/css/montserrat');
                
body{
font-family:"montserrat", sans-serif;
max-width: 50%;
margin: auto;
color: #333;
}

.header{
display: flex;
align-items: center;

}

.pic{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius:50% ;
    margin-top: 10px;
}

.details{
    flex:1;
margin-left: 20px;
}

.name{
color: gray;
}

.coral{
    color: coral;
}

.qualification{
letter-spacing: 1px;
}

.hrline{
    border:1px solid coral;
}

.table-heading{
    color: coral;
    min-width: 300px;
    display: block;
}

.table-props{
     font-size: 22px;
}

.marginfix{
    margin-top: 20px;
}

.jobheading{
font-size: 20px;
line-height: 25px;
}

.jobduration{
font-weight: 300;
line-height: 25px;
}

.jobdescription{
margin-top: 20px;
}
